body {
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 0;
}

h1,h2,h3 {margin: 0px; }

.header__box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav {
    
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.intro {
    max-width: 100%;
    height: 967px;
    background-color: #6425CB;
    z-index: -1;
}

.nav__content-box {
    width: 1200px;
    height: 68px;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.nav__contacts {
    display: flex;
    align-items: center;
}
.phone__number {
    font-weight: 300;
    padding-left: 13px;
    font-size: 16px;
    color: #fff;
}

.mail {
    font-weight: 300;
    padding-left: 13px;
    font-size: 15px;
    color: #fff;
}

.nav__contacts__icon__mail {
    margin-left: 25px;
}

.nav__content-box-low {
    width: 1200px;
    height: 94px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    
} 

.nav__contacts__icon__facebook,
.nav__contacts__icon__twitter,
.nav__contacts__icon__in,
.nav__contacts__icon_pinterest {
    padding: 10px;
}

.nav__logo {
    margin-left: 16px;
    margin-right: 160px;
    font-weight: 700;
}
.nav__link {
    display: flex;
    justify-content: space-between;
    list-style: none;

    
}

.nav__link__ {
    font-weight:300;
    margin-left: 33px;
    text-decoration: none;
    color:#232425;
}

.nav__btn {
    margin-left: 200px;
    width: 100px;
    height: 41px;
    border: 0px;
    border-radius: 32px;
    background-color: #F4AB00;
    color: #fff;

}

.intro{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__area {
    max-width: 1200px;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.intro__title {
    
    color: #fff;
}

.intro__title__1,
.intro__title__2,
.intro__title__3 {
    padding-right: 60px;
    font-size: 60px;
    font-weight: 300;
}

.intro__title__2 {
    color: #F4AB00;
}

.description {
    font-weight: 200;
    font-size: 18px;
    line-height: 1.8;
    max-width: 409px;
    color: #fff;
}


.img__content,.text__content{
    margin-top: 235px;
}

.text__content{
    display: flex;
    flex-direction: column;

}

.intro__img {
    
    width: 738px;
}

.intro__btn {
    width: 186px;
    height: 52px;
    border: 0px;
    border-radius: 32px;
    background-color: #F4AB00;
    color: #fff;
}

.about {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

.img__transition {
    position: relative;
    width: 100%;
    z-index: 1;
}

.content__about {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 518px;
    margin-top: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 22px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: absolute;
    z-index: 10;
}

.left__box{
    width: 470px;
    margin-top: 22px;

}

.title__content__about {
    color: #F4AB00;
    font-size: 19px;

}

.subtitle__content__about {
    margin-top: 20px;
    font-size: 42px;
    font-weight: 300;
    color: #2C1258;
}

.box__desc {
    font-size: 18px;
    font-weight: 200;
    color: #604B83;
    line-height: 1.5;
}

.right__box {
    margin-left: 96px;
    width: aut;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first__bloc-title,.second__bloc-title {
    margin-top: 20px;
    font-size: 19px;
    font-weight: 300;
    color: #2C1258;
}


.first__bloc-content,.second__bloc-content {
    margin: 10px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.first__bloc-info,.second__bloc-info {
    font-weight: 200;
font-size: 15px;
    color: #604B83;
    line-height: 2;
}

.box__first-bloc,.box__second-bloc {
    width: auto
    ;
}

.img__in__right-box {
    margin-right: 24px;
    width: 86px;
    height: 86px;
}

.results__box-content {
    width: 1200px;
    margin-top: 400px;
}